@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
/* strong{
  color: white !important;
} */
/* width */


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0px;
}

.scrollable-container {
  -webkit-overflow-scrolling: touch;
}